@font-face {
  font-family: igFont;
  src: url(./fonts/igFont/fontspring-regular.otf);
}
* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #28252b;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #e0e0e0;
}
body header {
  flex: 0;
}
body header .header-top {
  margin: 10px;
  display: flex;
  margin-bottom: 20px;
}
body header .header-top .brand-name {
  flex: 1;
  font-family: igFont;
  font-size: 2em;
}
body header .header-top .icons-right {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}
body header .header-top .icons-right i {
  margin-left: 1em;
}
body section {
  flex: 1;
  height: 100%;
  font-family: igFont;
  overflow: auto;
}
body section .status {
  border-bottom: 1px solid rgb(167, 167, 167);
  display: flex;
  overflow: auto;
  padding-bottom: 10px;
}
body section .status .img-story {
  position: relative;
}
body section .status .img-story .img-story-wrapper {
  height: 5em;
  width: 5em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
body section .status .img-story .img-story-wrapper img {
  height: 6em;
}
body section .status .img-story i {
  background-color: #3f9ec4;
  border: 2px solid #f3f3f3;
  color: #f3f3f3;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  padding: 8px;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 0.6em;
  display: flex;
  align-items: center;
  justify-content: center;
}
body section .status p {
  font-size: 0.8em;
}
body section .status .my-story {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 15px;
  flex-direction: column;
}
body section .status .follower-story {
  border-radius: 50%;
  margin-right: 15px;
}
body section .feed-item {
  padding-top: 10px;
}
body section .feed-item .feed-header {
  padding: 0px 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(167, 167, 167);
  display: flex;
}
body section .feed-item .feed-header .feed-header-img {
  border: 2px solid orange;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}
body section .feed-item .feed-header .feed-header-img img {
  height: 45px;
}
body section .feed-item .feed-header .feed-header-details {
  flex: 1;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
body section .feed-item .feed-header .feed-header-details p {
  font-size: 0.8em;
}
body section .feed-item .feed-header .feed-header-details p:first-child {
  font-weight: bold;
}
body section .feed-item .feed-header i {
  flex: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
body section .feed-item .feed-imgs {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
body section .feed-item .feed-imgs img {
  max-height: 400px;
}
body section .feed-item .feed-details .feed-details-icons {
  display: flex;
  padding: 10px 20px;
}
body section .feed-item .feed-details .feed-details-icons i {
  font-size: 1.5em;
  margin-right: 10px;
}
body section .feed-item .feed-details .feed-details-icons .feed-details-icons-left {
  flex: 1;
}
body section .feed-item .feed-details .feed-details-icons .img-bars-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
body section .feed-item .feed-details .feed-details-icons .img-bars-circle i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
}
body section .feed-item .feed-details .feed-details-icons .fi-rr-badge {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
body section .feed-item .feed-details .feed-details-stats {
  padding: 0px 20px;
}
body section .feed-item .feed-details .feed-details-stats .feed-detail-likes {
  font-weight: bold;
}
body section .feed-item .feed-details .feed-details-stats .feed-details-user-comment span {
  font-weight: bold;
  margin-right: 5px;
}
body section .feed-item .feed-details .feed-details-stats .feed-details-lapsed {
  color: rgb(167, 167, 167);
}
body footer {
  flex: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px;
  justify-content: space-around;
}
body footer i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
body footer .my-profile {
  display: flex;
  align-items: center;
  justify-content: center;
}
body footer .my-profile .my-profile-img-wrapper {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}
body footer .my-profile .my-profile-img-wrapper img {
  height: 45px;
}/*# sourceMappingURL=main.css.map */