$white-bg: #f3f3f3;
$blue-verify: #3f9ec4;
$text-black: #28252b;
$outline-grey: rgb(167, 167, 167);

@mixin flexcentered {
    display: flex;
    align-items: center;
    justify-content: center;
}


//importing my font
@font-face {
    font-family: igFont;
    src: url(./fonts/igFont/fontspring-regular.otf);
  }
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: $text-black;
    box-sizing: border-box;
}

body{
    background-color: $white-bg;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #e0e0e0;
    //border: 2px solid green;
    header{
        flex: 0;

        .header-top{
            //border: 1px solid blue;
            margin: 10px;
            display: flex;
            .brand-name{
                flex: 1;
                font-family: igFont;
                font-size: 2em;
            }
            .icons-right{
                justify-self: flex-end;
                //border: 1px solid green;
                @include flexcentered();
                font-size: 1.5em;
                i{
                    margin-left: 1em;
                }
            }
            margin-bottom: 20px;
        }
    }

    section{
        flex: 1; 
        height: 100%;
        //font-size: 40px;
        font-family: igFont;
        overflow: auto;
        .status{
            border-bottom: 1px solid $outline-grey;
            display: flex;
            overflow: auto;
            padding-bottom: 10px;
            // &:not(:first-child){
            //     //border: 1px solid orange;                  
            // }
            .img-story{  
                position: relative;
                .img-story-wrapper{
                    //border: 1px solid orange;
                    height: 5em;
                    width: 5em;
                    border-radius: 50%; 
                    @include flexcentered();
                    overflow: hidden;
                    
                    img{
                        height: 6em;
                    }
                }
                i{
                    //border: 1px solid red;
                    background-color: $blue-verify;
                    border: 2px solid $white-bg;
                    color: $white-bg;
                    border-radius: 50%;
                    height: 10px;
                    width: 10px;
                    padding: 8px;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    font-size: 0.6em;
                    @include flexcentered();
                }
            }
            p{
                font-size: 0.8em;
            }
            .my-story{
                //border: 1px solid blue;
                @include flexcentered();
                margin: 0px 15px;
                flex-direction: column;
                i{

                }
            }
            .follower-story{
                //border: 1px solid green;
                border-radius: 50%;
                margin-right: 15px;
            }
        }


        .feed-item{
            
            padding-top: 10px;
            .feed-header{
                padding: 0px 15px;
                padding-bottom: 10px;
                border-bottom: 1px solid $outline-grey;
               // border: 1px solid blue;
                display: flex;
                .feed-header-img{
                    border: 2px solid orange;
                    @include flexcentered();
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    overflow: hidden;
                    img{
                        height: 45px;
                    }
                }
                .feed-header-details{
                    flex: 1;
                    margin-left: 10px;
                    @include flexcentered();
                    flex-direction: column;
                    align-items: flex-start;
                    p{
                        font-size: 0.8em;
                        &:first-child{
                            font-weight: bold;
                        }
                    }
                }
                i{
                    flex: 0;
                    @include flexcentered();
                }

            }
            .feed-imgs{
                //border: 1px solid green;
                overflow: hidden;
                @include flexcentered();
                img{
                    max-height: 400px;
                }
            }
            .feed-details{
                //border: 1px solid blue;
                .feed-details-icons{
                    // border: 1px solid red;
                    display: flex;
                    padding: 10px 20px;
                    i{
                        font-size: 1.5em;
                        margin-right: 10px;
                    }
                    .feed-details-icons-left{
                        flex: 1;
                        //border: 1px solid blue;
                    }
                    .img-bars-circle{
                        @include flexcentered();
                        flex: 1;
                        //border: 1px solid red;
                        i{
                            @include flexcentered();
                            font-size: 0.8em;
                        }
                    }
                    .fi-rr-badge{
                        flex: 1;
                        display: flex;
                        justify-content: flex-end;
                    }
                }
                .feed-details-stats{
                    padding: 0px 20px;
                    //border: 1px solid red;
                    .feed-detail-likes{
                        font-weight: bold;
                    }
                    .feed-details-user-comment{
                        span{
                            font-weight: bold;
                            margin-right: 5px;
                        }
                    }
                    .feed-details-lapsed{
                        color: $outline-grey;
                    }
                }
            }
        }
    }


    footer{
        flex: 0;
        //border: 1px solid green;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 10px;
        //justify-content: space-between;
        justify-content: space-around;
        i{
            // flex: 1;
            @include flexcentered();
            font-size: 25px;
            //border: 1px solid red;
        }
        .my-profile{
            @include flexcentered();
            //border: 1px solid blue;
            // flex: 1;
            .my-profile-img-wrapper{
                //border: 1px solid orange;
                height: 40px;
                width: 40px;
                @include flexcentered();
                border-radius: 50%;
                overflow: hidden;
                img{
                    height: 45px;
                }
            }
        }
    }
}
